In [11]:

from src.paths import TRANSFORMED_DATA_DIR
%reload_ext autoreload
%autoreload 2

In [4]:
from src.data import load_raw_data

rides = load_raw_data(year=2022)

File 2022-01 was already in local storage
File 2022-02 was already in local storage
File 2022-03 was already in local storage
File 2022-04 was already in local storage
File 2022-05 was already in local storage
File 2022-06 was already in local storage
File 2022-07 was already in local storage
File 2022-08 was already in local storage
File 2022-09 was already in local storage
File 2022-10 was already in local storage
File 2022-11 was already in local storage
File 2022-12 was already in local storage

In [8]:
from src.data import transform_raw_data_into_ts_data
ts_data= transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:01<00:00, 143.49it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00      0                   1
1       2022-01-01 01:00:00      0                   1
2       2022-01-01 02:00:00      0                   1
3       2022-01-01 03:00:00      0                   1
4       2022-01-01 04:00:00      1                   1
...                     ...    ...                 ...
2321395 2022-12-31 19:00:00      2                 265
2321396 2022-12-31 20:00:00      2                 265
2321397 2022-12-31 21:00:00      7                 265
2321398 2022-12-31 22:00:00      3                 265
2321399 2022-12-31 23:00:00      2                 265

[2321400 rows x 3 columns]

In [9]:


from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

  0%|          | 0/265 [00:00<?, ?it/s]

100%|██████████| 265/265 [00:22<00:00, 11.69it/s]

features.shape=(89305, 674)
targets.shape=(89305,)

In [12]:


tabular_data = features
tabular_data['target_rides_next_hour'] = targets


tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')